[Unit]
Description=TeleDDNS - Advanced DDNS Client
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/teleddns
Restart=on-failure
RestartSec=10
NoNewPrivileges=yes
ProtectHome=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
